    {% extends 'base.html' %}
    
    {% block content %}
    <table>
        <tr> 
            <th>Username</th>
            <th>Email</th>
            <th>Last Seen</th>
            <th>Delete User </th>
        </tr>
    {% for row in users %}
        {% if row.username == "admin" %}
        {% else %}
            <tr> 
                <td> {{ row.username }} </td>
                <td> {{ row.email }} </td>
                <td> {{ row.last_seen }} </td>
                <form> 
                    <td>
                        <button type='submit' formaction="{{ url_for('delete_user', username=row.username) }}"> Delete {{ row.username }} </button>
                    </td>
                </form>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
    {% endblock %}
    